<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">To Do App</h1>

        <form class="ui form" action="{{url_for('add')}}" method="post">
            <div class="field">
                <label>Todo Title</label>
                <input type="text" name="title" placeholder="Enter Todo..."><br>
            </div>
                 {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <ul>
                  {% for category, message in messages %}
                   <li style="color: {{ category }};">
                          <strong>{{ message }}</strong>
                      </li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}

            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>

        {% for todo in todo_list %}
        <div class="ui segment">
            {% if todo.complete == False %}
            <p class="ui big header">{{todo.id }} | {{ todo.title }} - {{todo.created_at}}</p>
            <span class="ui gray label">Not Complete</span>
            {% else %}
            <p class="ui big header"><s>{{todo.id }} | {{ todo.title }} - {{todo.created_at}}</s></p>
            <span class="ui green label">Completed</span>
            {% endif %}

            <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
            <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>
